.container{
    /* ulrich*/
}

#apropos{
    /* Vanelle*/
}

#competence{
    /* Patricia*/
}

#projet{
    /* Ange*/
}

#contact{
    /* Elvira*/
    background-color: #f7f7f7;
    padding: 20px;
}
# contact h2{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
form{
    max-width: 500px;
    margin: 0 auto;
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
}
.form-group input,.form-group textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button [type="submit"] {
    background-color: #4caf50;
    color:#fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #3e8e41;
}
.info-contact p{
    margin-bottom: 10px;
}
